<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 GiaPhuGroup, Ltd. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <virtualType name="PHPCuongFaqGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PHPCuongFaqFaqGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">PHPCuong\Faq\Model\ResourceModel\Faq\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">PHPCuongFaqGridFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="PHPCuong\Faq\Model\ResourceModel\Faq\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">phpcuong_faq</argument>
            <argument name="eventPrefix" xsi:type="string">phpcuong_faq_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">faq_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">PHPCuong\Faq\Model\ResourceModel\Faq</argument>
        </arguments>
    </type>
    <type name="PHPCuong\Faq\Model\ResourceModel\Faqcat\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">phpcuong_faq_category</argument>
            <argument name="eventPrefix" xsi:type="string">phpcuong_faqcat_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">faqcat_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">PHPCuong\Faq\Model\ResourceModel\Faqcat</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="faq_listing_data_source" xsi:type="string">PHPCuong\Faq\Model\ResourceModel\Faq\Grid\Collection</item>
                <item name="faqcat_listing_data_source" xsi:type="string">PHPCuong\Faq\Model\ResourceModel\Faqcat\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
