<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 GiaPhuGroup, Ltd. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="PHPCuong_Faq::faqs" title="FAQs" module="PHPCuong_Faq" sortOrder="60" resource="PHPCuong_Faq::faqs"/>
        <add id="PHPCuong_Faq::faq" title="Manage FAQs" module="PHPCuong_Faq" sortOrder="61" parent="PHPCuong_Faq::faqs" action="phpcuong/faq" resource="PHPCuong_Faq::faq"/>
        <add id="PHPCuong_Faq::category" title="Manage FAQ Categories" module="PHPCuong_Faq" sortOrder="62" parent="PHPCuong_Faq::faqs" action="phpcuong/faqcat" resource="PHPCuong_Faq::faq"/>
    </menu>
</config>
