<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 GiaPhuGroup, Ltd. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="phpcuong" frontName="phpcuong">
            <module name="PHPCuong_Faq" before="Magento_Backend" />
        </route>
    </router>
</config>
